@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Allerta";
  color: #1b1b1b;
}

body {
  background-color: #f4f3f8;
  height: 100vh;
}

#navbarMonstera {
  padding-top: 20px;
}

#navbarMonstera div {
  display: inline-block;
}

#navFirst {
  margin-left: 50px;
  position: relative;
  top: 15px;
}

#navFirst img {
  width: 110px;
  cursor: pointer;
}

#navMid {
  margin-left: 260px;
}

#navMid h4 {
  margin-right: 40px;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

#navMid div:first-child h4 {
  padding-bottom: 2px;
  border-bottom: 2px solid #1b1b1b;
}

#navEnd {
  margin-left: 200px;
}

#navEnd img {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}

#navEnd img:hover {
  cursor: pointer;
  animation: zoom-icon 250ms forwards;
}

@keyframes zoom-icon {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

#midWholePart1 {
  float: left;
}

#midWholePart11 {
  margin-top: 80px;
  margin-left: 50px;
  width: 45vw;
}

#midWholePart11 li {
  padding-left: 8px;
  padding-bottom: 8px;
}

#monstera {
  font-family: "Montserrat";
  font-size: 70px;
  font-weight: 800;
  position: relative;
  top: 16px;
}

#midWholePart12 {
  margin-top: 30px;
  margin-left: 50px;
  width: 200px;
  background-color: #466d50;
  padding: 10px 0px;
  border-radius: 30px;
  text-align: center;
  transition: opacity 250ms ease;
}

#midWholePart12:hover {
  cursor: pointer;
  opacity: 0.8;
}

#midWholePart12 div {
  display: inline-block;
}

#midWholePart121 h1 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

#midWholePart122 img {
  width: 10px;
  margin-left: 8px;
}

#midWholePart13 {
  margin-top: 70px;
  margin-left: 50px;
}

.midWholePart13Parts {
  display: inline-block;
  margin-right: 28px;
}

.midWholePart13Parts div {
  display: inline-block;
}

.midWholePart13Parts img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.midWholePart13Parts h4 {
  font-size: 18px;
}

.midWholePart13Parts .text {
  font-size: 14px;
  width: 200px;
  padding-top: 4px;
}

#imgMain {
  height: 550px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
